* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.pl-120 {
  padding-left: 120px;
}

.pr-120 {
  padding-right: 120px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-90 {
  margin-bottom: 90px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  padding-bottom: 25px;
}
.card__image {
  width: 100%;
}
.card__image img {
  height: 260px;
  width: 100%;
}
.card__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-size: 0.75rem;
  line-height: 1.67;
  letter-spacing: 1.2px;
  color: #7B7B7B;
  padding-bottom: 25px;
}
.card__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.375rem;
  line-height: 1.67;
  letter-spacing: 2.2px;
  margin-bottom: 25px;
}
.card__text {
  line-height: 1.67;
  letter-spacing: 0.8px;
  color: #565656;
}

.btn {
  display: block;
  margin: 50px auto 0 auto;
  width: 180px;
  height: 46px;
  color: #fff;
  background-color: #565656;
  line-height: 1.67;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 84px;
}

.header {
  padding: 41px 0;
}
.header .logo {
  flex: 1 1 auto;
}
.header .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.header .nav__link {
  color: #000;
  text-transform: uppercase;
  font-size: 0.88rem;
  position: relative;
}
.header .nav__link::after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: -5px;
  height: 1px;
  width: 70%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.header .nav__link:hover::after {
  transform: scaleX(1);
}
.header .search {
  cursor: pointer;
}

.hero {
  background: url("../assets/img/bg.jpg") 0 0/100% 123%;
  margin-bottom: 90px;
}
.hero h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 2.4px;
  padding: 100px 0 380px 0;
}

.blog {
  margin-bottom: 90px;
}
.blog h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 2.4px;
  margin-bottom: 50px;
}
.blog__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 470px;
}
.blog__image {
  height: 100%;
  flex-basis: 50%;
  object-fit: fill;
}
.blog__image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.blog__info {
  padding-top: 85px;
  padding-bottom: 85px;
  flex-basis: 50%;
}
.blog__subtitle {
  line-height: 1.66;
  letter-spacing: 1.6px;
  color: #7B7B7B;
  margin-bottom: 30px;
}
.blog__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.44rem;
  font-weight: 500;
  letter-spacing: 2.3px;
  line-height: 1.66;
  margin-bottom: 15px;
}
.blog__date {
  color: #7B7B7B;
  line-height: 1.66;
  letter-spacing: 1.6px;
  margin-bottom: 50px;
}
.blog__text {
  color: #565656;
  line-height: 1.66;
  letter-spacing: 0.8px;
}

.section .heading {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.section .heading .section-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.75rem;
  line-height: 1.66;
  font-weight: 600;
  letter-spacing: 2.8px;
}
.section .heading .view-all {
  padding-right: 43px;
  display: inline-block;
}
.section .heading .view-all a {
  line-height: 1.67;
  letter-spacing: 1.6px;
  color: #7B7B7B;
  position: relative;
}
.section .heading .view-all a::after {
  content: "";
  background-image: url("../assets/img/icons/Arrow_1.svg");
  position: absolute;
  width: 23px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  right: -43px;
  transform: translateY(-30%);
}
.section .cards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.section .post__card {
  max-width: 370px;
}
.section .popular__card {
  max-width: 570px;
}

.job {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.job__title {
  max-width: 470px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.44rem;
  line-height: 1.66;
  letter-spacing: 2.3px;
}
.job__title a {
  position: relative;
}
.job__title a::after {
  content: "";
  background-image: url("../assets/img/icons/Arrow_1.svg");
  position: absolute;
  width: 23px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 10px;
  left: 0;
}
.job__desk {
  font-size: 1.19rem;
  line-height: 2;
  letter-spacing: 1px;
  max-width: 470px;
}
.job__desk p:first-child {
  margin-bottom: 25px;
}

.footer {
  padding: 70px 0 30px 0;
}